/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html, 
body{
    margin: 0;
    padding: 0;
    font-family: Arial;    
}

.logo {
    width: 250px;
    padding-top: 0;

}


ul li{
    list-style: none; 
}
ul li a { 
    text-decoration: none;
    color: black;
}

.nav-bar > div {
    width: 1500px;
    position: fixed; 
    padding-top: 10px; 
    padding-bottom: 10px;
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    background-color: white; 
  
}

.list {
    width: 1300px; 
    position: fixed;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.5rem; 
  
}

.flex-item-one {
    flex-basis: 0%
    flex-shrink: 1;
    margin-right: 30px; 
    position: relative;
}

.flex-item-two {
    flex-basis: 0%
    flex-shrink: 1;
    margin-right: 30px; 
    position: relative;
}

.flex-item-three {
    flex-basis: 0%;
    flex-shrink 1;
    margin-right: 30px;
    position: relative; 
}

.flex-item-four {
    flex-basis: 0%;
    flex-shrink: 1;
    position: relative; 
}

.background-image{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 400px; 
    padding-bottom: 400px;
}

h1{
    font-size: 4em; 
    color: white;
    display: block; 
    text-align: center; 
}

.centralised-text {
    font-size: 1.1rem; 
    color: white;
    display: block;
    text-align: center; 
}

.articles-section{
    background-color: white; 
    margin-bottom: 50px; 
}

.first-headline {
    display: block; 
    /*text-decoration: underline  #00B172;*/
    margin-top: 40px;
    text-align: center; 
    font-size: 2rem;    
}

hr{
    width: 280px; 
    display: block;
    text-align: center; 
    color: green;
    margin: 20px auto 30px auto; 
    /*height: 20 px; */
}

.image-container {
    width: 80px;
}

.article-container{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.article-details {
    display: block; 
    text-align: center; 
}

.article-one{
    flex basis: 33%
    flex-shrink: 1;
}

.article-two{
    flex basis: 33%
    flex-shrink: 1;
}

.article-three{
    flex basis:33%
    flex-shrink: 1;
}

.app-page{
    background-color: green;
}


/*.app-page{
    background-image: url("../images/spotify-icon-white.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00B172;
    padding-top: 400px; 
    padding-bottom: 400px;
}*/