/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html, 
body{
    margin: 0;
    padding: 0;
    font-family: Arial;    
}

.logo {
    width: 250px;
    padding-top: 0;

}


ul li{
    list-style: none; 
}
ul li a { 
    text-decoration: none;
    color: black;
}

.nav-bar > div {
    width: 1200px;
    position: fixed; 
   
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
}

.list {
    width: 1200px; 
    position: fixed;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.5rem;   
}

.flex-item-one {
    flex-basis: 0%
    flex-shrink: 1;
    margin-right: 30px; 
    position: relative;
    
  
}

.flex-item-two {
    flex-basis: 0%
    flex-shrink: 1;
    margin-right: 30px; 
    position: relative;
}

.flex-item-three {
    flex-basis: 0%;
    flex-shrink 1;
    margin-right: 30px;
    position: relative; 
}

.flex-item-four {
    flex-basis: 0%;
    flex-shrink: 1;
    position: relative; 
}



