/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html, 
body{
    margin: 0;
    padding: 0;
    font-family: Arial;    
}

.logo {
    width: 250px;
    padding-top: 0;

}


ul li{
    list-style: none; 
}
ul li a { 
    text-decoration: none;
    color: black;
}

.nav-bar > div {
    width: 1500px;
    position: fixed; 
    padding-top: 10px; 
    padding-bottom: 10px;
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    background-color: white; 
  
}

.list {
    width: 1300px; 
    position: fixed;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.5rem; 
  
}

.flex-item-one {
    flex-basis: 0%
    flex-shrink: 1;
    margin-right: 30px; 
    position: relative;
}

.flex-item-two {
    flex-basis: 0%
    flex-shrink: 1;
    margin-right: 30px; 
    position: relative;
}

.flex-item-three {
    flex-basis: 0%;
    flex-shrink 1;
    margin-right: 30px;
    position: relative; 
}

.flex-item-four {
    flex-basis: 0%;
    flex-shrink: 1;
    position: relative; 
}

.background-image{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 400px; 
    padding-bottom: 400px;
}

h1{
    font-size: 4em; 
    color: white;
    display: block; 
    text-align: center; 
}

.centralised-text {
    font-size: 1.1rem; 
    color: white;
    display: block;
    text-align: center; 
}

